.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
  background-color:#bfe6ec;
  text-align:center;
height:150px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.naveg-1{
align-items:flex-start;
}
.naveg-2{
align-items:flex-start;
}
.naveg-3{
align-items:flex-start;
}
@media screen and (min-device-width: 500px) {
.nav{
display: -webkit-flex; 
display: flex; 
justify-content:space-around;
}
.naveg-1{
flex-basis:content;
flex-direction:row;
align-items:center;
}
.naveg-2{
flex-basis:content;
flex-direction:row;
align-items:center;
}
.naveg-3{
flex-basis:content;
flex-direction:row;
align-items:center;
}
.order-1{
  order: 1;
}
.order-2{ 
  order: 3;
}
.order-3{ 
  order: 2;
}
}